.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 97vh;
    margin-top: 4rem;
    padding: 2%;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.institutesContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    height: auto;
    flex-wrap: wrap;
    margin-bottom: 2%;
}

.institutes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12%;
    border-radius: 15%;
    border: 2px solid rgb(237, 234, 234);
    box-shadow: 7px 7px 0 0 rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
    margin: 1% 0;
}

.institutes:hover {
    transform: scale(0.8);
    cursor: pointer;
}

.institutesImage {
    max-width: 80%;
    padding: 5%;
    height: auto;
}

.contentContainer {
    flex-grow: 1;
    width: 100vw;
    height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.light {
    background-color: white;
    color: black;
}

.dark,
.dark .container,
.dark .contentContainer,
.dark .institutesContainer,
.dark .contentContainer {
    background-color: rgb(30, 29, 29);
    color: white;
}

.dark .institutes {
    background-color: rgb(30, 29, 29);
    color: white;
    box-shadow: 5px 5px 0 0 rgba(255, 255, 255, 0.8);
}

@media (max-width: 1200px) {
    .institutesContainer {
        gap: 3%;
    }

    .institutes {
        box-shadow: 6px 6px 0 0 rgba(0, 0, 0, 0.5);
    }
}

@media (max-width: 992px) {
    .institutes {
        box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.5);
    }
}

@media (max-width: 768px) {
    .institutesContainer {
        gap: 4%;
    }

    .institutes {
        box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.5);
    }
}

@media (max-width: 576px) {
    .institutes {
        box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.5);
    }

    .institutesContainer {
        margin-top: 1rem;
        gap: 5%;
    }
}