.dark {
    background-color: rgb(30, 29, 29);
    color: white;
}

.light {
    background-color: #FFF;
    color: black;
}

.tabs {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.tabItem.dark {
    background-color: rgb(30, 29, 29);
    color: white
}

.tabItem.light {
    background-color: #fff;
    color: black
}

.tabsContainer {
    overflow-x: auto;
    scrollbar-width: thin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.tabItem {
    min-width: 150px;
    height: 70vh;
    overflow-y: auto;
}

.tabsContainer::-webkit-scrollbar {
    height: 8px;
}

.tabsContainer::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.MuiTabs-scrollButtons {
    display: flex !important;
}

@media (max-width: 768px) {
    .tabsContainer {
        font-size: 14px;
    }

    .tabItem {
        padding: 10px;
    }
}

@media (max-width: 600px) {
    .MuiTabs-scrollButtons {
        display: flex !important;
    }
}


@media (max-width: 480px) {
    .tabsContainer {
        font-size: 12px;
    }

    .tabItem {
        padding: 8px;
    }

    .tabs {
        margin-left: auto !important;
    }
}