.dropdownContent {
  position: absolute;
  top: 60px;
  right: 0;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1000;
  width: 200px;
}

.dropdownItem {
  padding: 1em;
  color: #333;
  text-decoration: none;
  display: block;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: white;

}

.flag {
  width: 1.2em;
}

.dropdownItem:last-child {
  border-bottom: none;
}

.dropdownItem:hover {
  background-color: rgb(169, 167, 167);
  color: rgb(93, 24, 3);
}


.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: rgb(30, 29, 29);
  color: white;
}

.dark .link {
  color: white;
}

.dark .link:hover {
  color: grey;
}

.dark .logo {
  color: white;
}

.dark .options {
  background-color: rgb(30, 29, 29);
  color: white;
}

.dark .hamburgerIcon {
  color: white;
  border: 2px solid white;
}

.dark .dropdownItem {
  padding: 1em;
  color: #FFF;
  text-decoration: none;
  display: block;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease;
  background-color: rgb(30, 29, 29);
}

.dark .dropdownItem:hover {
  background-color: grey;
}