.modalContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    border-radius: 10px;
    margin: 0 auto;
    width: 60vw;
    height: 80vh;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 98%;
    height: auto;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-y: auto;
    overflow-x: hidden;

}

/* Para ajustar el ancho del scrollbar */
.container::-webkit-scrollbar {
    width: 0.8em;
}

/* Fondo y borde del track del scrollbar */
.container::-webkit-scrollbar-track {
    background: #FFF;
    border-radius: 1em;
    margin: 0.5em;
}

/* Color y borde del thumb del scrollbar */
.container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1em;
}

/* Color del thumb del scrollbar cuando se pasa el cursor por encima */
.container::-webkit-scrollbar-thumb:hover {
    background: rgb(93, 24, 3);
}

.header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid grey;
    width: 100%;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-weight: bold;
    height: auto;
    color: rgb(93, 24, 3);
    width: 90%;
    padding-left: 2%;
}

.modalClose {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1%;
    right: 1%;
    cursor: pointer;
    font-size: 1.2em;
    color: #333;
    border-radius: 10%;
    width: 10%;
    padding: 1%;
}

.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}

.imageViewer {
    width: 100%;
    height: 100%;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.footer {
    display: flex;
    justify-content: flex-end;
    padding: 1% 3% 2% 0;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(93, 24, 3);
    border-color: rgb(93, 24, 3);
    color: white;
    font-weight: 600;
    padding: 2%;
    margin: 1%;
    width: 8rem;
    height: 0.8rem;
    font-size: 1em;
    cursor: pointer;
    border-radius: 1em;
    animation: linksIn 2s ease-in-out forwards;
    text-decoration: none;
}

.button:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 60, 0);
    border-color: rgb(255, 60, 0);
    color: white;
    font-weight: 600;
    padding: 2%;
    margin: 1%;
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 1em;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
}

.light {
    background-color: #fff;
}

.dark {
    background-color: rgb(30, 29, 29);
    color: white;

    .title {
        color: white;
    }

    .modalClose {
        background-color: rgb(30, 29, 29);
        color: white;
    }
}

/* 
@media screen and (max-width: 800px) {
    .modalContainer {
        width: 90%;
        font-size: 0.9em;
    }
}

@media screen and (max-width: 600px) {
    .modalContainer {
        width: 90%;
    }

    .modalClose {
        padding: 0.5% 1%;
    }

    .modalContent {
        height: 100%;
        font-size: 0.9em;
    }
} */