.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    min-height: 85vh;
    box-sizing: border-box;
    background-color: white;
}

/* Primera seccion - Imagen*/

.imageSection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30vw;
    height: 90vh;
    margin: 0;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    border-radius: 50%;
}

.image:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
}

/* Segunda sección - Presentación*/

.introSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30vw;
    height: 90vh;
}

.titlesSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    padding: 0;
    margin: 3rem 1rem;
}

.title {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: rgb(93, 24, 3);
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 1rem;
}

.subtitle {
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 1rem;
    color: rgb(93, 24, 3);
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Tercera sección - Links */

.aboutContact {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 30vw;
    height: 60vh;
}

.linkSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 3% 0;
    width: 9rem;
    height: 2rem;
}

.social {
    display: flex;
    height: 2rem;
    margin: 0 5%;
    padding: 0;
    animation: linksIn 2s ease-in-out forwards;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(93, 24, 3);
    border-color: rgb(93, 24, 3);
    color: white;
    font-weight: 600;
    padding: 2%;
    margin: 1%;
    width: 9rem;
    height: 2rem;
    font-size: 1em;
    cursor: pointer;
    border-radius: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation: linksIn 2s ease-in-out forwards;
}

.button:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 60, 0);
    border-color: rgb(255, 60, 0);
    color: white;
    font-weight: 600;
    padding: 2%;
    margin: 1%;
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
}

.dark {
    background-color: rgb(30, 29, 29);
    color: white;

    .title {
        color: white;
    }

    .subtitle {
        color: white;
    }
}

@keyframes imageIn {
    0% {
        transform: translateX(0vw) rotate(180deg);
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        transform: translateX(0vw) rotate(720deg);
        opacity: 1;
    }
}

@keyframes titleIn {
    0% {
        transform: translateY(-100vh);
        opacity: 0;
    }

    100% {
        transform: translateY(0vh);
        opacity: 1;
    }
}

@keyframes textIn {
    0% {
        transform: translateY(100vh);
        opacity: 0;
    }

    100% {
        transform: translateY(0vh);
        opacity: 1;
    }
}

@keyframes linksIn {
    0% {
        transform: translateX(100vw);
        opacity: 0;
    }

    100% {
        transform: translateX(0vw);
        opacity: 1;
    }
}

.titlesSection {
    animation: titleIn 2s ease-in-out;
}

.imageSection {
    animation: imageIn 1.5s ease-in-out;
}

.text {
    animation: textIn 2.2s ease-in-out;
}

.social:nth-child(1) {
    animation-delay: 0.2s;
    /* Primer icono */
}

.social:nth-child(2) {
    animation-delay: 0.6s;
    /* Segundo icono */
}

.button:nth-child(3) {
    animation-delay: 0.4s;
    /* Tercer icono */
}



@media screen and (max-width: 900px) {
    .container {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .imageSection {
        width: 100vw;
        height: 40vh;
        align-items: center;
        justify-content: center;
        padding-bottom: 2vh;
        box-sizing: border-box;
    }

    .introSection {
        width: 80vw;
        height: auto;
        padding-bottom: 2vh;
        box-sizing: border-box;
    }

    .image {
        height: 30vh;
    }

    .text {
        margin: 2rem 1rem;
    }

    .aboutContact {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100vw;
        height: 15vh;
        flex-wrap: wrap;
    }

    @keyframes titleIn {
        0% {
            transform: translateX(-100vw);
            opacity: 0;
        }

        100% {
            transform: translateX(0vw);
            opacity: 1;
        }
    }

    @keyframes textIn {
        0% {
            transform: translateX(100vw);
            opacity: 0;
        }

        100% {
            transform: translateX(0vw);
            opacity: 1;
        }
    }

    @keyframes linksIn {
        0% {
            transform: translateY(100vh);
            opacity: 0;
        }

        100% {
            transform: translateY(0vh);
            opacity: 1;
        }
    }

    .titlesSection {
        animation: titleIn 2s ease-in-out;
    }

    .imageSection {
        animation: imageIn 1.5s ease-in-out;
    }

    .text {
        animation: textIn 2.2s ease-in-out;
    }

    .social:nth-child(1) {
        animation-delay: 0.2s;
        /* Primer icono */
    }

    .social:nth-child(2) {
        animation-delay: 0.4s;
        /* Segundo icono */
    }

    .button:nth-child(3) {
        animation-delay: 0.6s;
        /* Tercer icono */
    }
}