.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 90vh;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Primera seccion - Imagen*/

.imageSection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    height: 90vh;
    margin: 0;

}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    border-radius: 50%;
}

.image:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
}

/* Segunda sección - Presentación*/

.introSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    height: 60vh;
}

.titlesSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    padding: 0;
    margin: 3rem 1rem;
}

.title {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 2rem;
    color: rgb(93, 24, 3);
    font-weight: bold;
    letter-spacing: 0.1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0.5rem;
}

.subtitle {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 1rem;
    color: rgb(93, 24, 3);
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Tercera sección - Links */

.aboutContact {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    height: 60vh;
}

.linkSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 3% 0;
    width: 9rem;
    height: 2rem;
}

.social {
    display: flex;
    height: 2rem;
    margin: 0 5%;
    padding: 0;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(93, 24, 3);
    border-color: rgb(93, 24, 3);
    color: white;
    font-weight: 600;
    padding: 2%;
    margin: 1%;
    width: 9rem;
    height: 2rem;
    font-size: 1em;
    cursor: pointer;
    border-radius: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 60, 0);
    border-color: rgb(255, 60, 0);
    color: white;
    font-weight: 600;
    padding: 2%;
    margin: 1%;
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
}

.light {
    background-color: white;
    color: black
}

.dark {
    background-color: rgb(30, 29, 29);
    color: white;

    .title {
        color: white;
    }

    .subtitle {
        color: white;
    }
}

.container::-webkit-scrollbar {
    width: 0.8em;
}

/* Fondo y borde del track del scrollbar */
.container::-webkit-scrollbar-track {
    background: #cfcfcf;
    border-radius: 1em;
    margin: 0.5em;
}

/* Color y borde del thumb del scrollbar */
.container::-webkit-scrollbar-thumb {
    background: rgb(223, 222, 222);
    border-radius: 1em;
}

/* Color del thumb del scrollbar cuando se pasa el cursor por encima */
.container::-webkit-scrollbar-thumb:hover {
    background: #5a5958;
}

@keyframes slideInRotate {
    0% {
        transform: translateX(-100vw) rotate(0deg);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateX(0) rotate(360deg);
        opacity: 1;
    }
}

.imageSection,
.titlesSection,
.text,
.aboutContact .linkSection,
.aboutContact .button {
    animation: slideInRotate 2s ease-in-out forwards;
    opacity: 0;
    /* Inicialmente invisibles */
}

.imageSection {
    animation-delay: 0.2s;
}

.titlesSection {
    animation-delay: 0.4s;
}

.text {
    animation-delay: 0.6s;
}

.aboutContact .linkSection:nth-child(1) {
    animation-delay: 0.8s;
}

.aboutContact .linkSection:nth-child(2) {
    animation-delay: 1s;
}

.aboutContact .linkSection:nth-child(3) {
    animation-delay: 1.2s;
}

.button {
    animation-delay: 1.4s;
}

@media screen and (max-width: 900px) {
    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .imageSection {
        width: 80%;
        height: 40vh;
        align-items: center;
        justify-content: center;
        padding-bottom: 2vh;
        box-sizing: border-box;
    }

    .introSection {
        width: 80%;
        height: 30vh;
        align-items: center;
        justify-content: center;
        padding-bottom: 2vh;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .image {
        height: 30vh;
    }

    .titlesSection {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .text {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: left;
        padding: 0;
        margin: 2rem 1rem;
    }

    .title {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        font-size: 2rem;
        color: rgb(93, 24, 3);
        font-weight: bold;
        letter-spacing: 0.1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 0.5rem;
    }

    .subtitle {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        font-size: 1rem;
        color: rgb(93, 24, 3);
        font-weight: bold;
        letter-spacing: 0.1rem;
        margin: 0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .aboutContact {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 15vh;
        flex-wrap: wrap;
    }

    .linkSection {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .social {
        display: flex;
        margin: 0 5%;
    }

    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(93, 24, 3);
        border-color: rgb(93, 24, 3);
        color: white;
        font-weight: 600;
        padding: 2%;
        margin: 1%;
        width: 9rem;
        height: 2rem;
        font-size: 1em;
        cursor: pointer;
        border-radius: 1em;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .button:hover {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 60, 0);
        border-color: rgb(255, 60, 0);
        color: white;
        font-weight: 600;
        padding: 2%;
        margin: 1%;
        transform: scale(1.2);
        transition: transform 0.2s ease-in-out;
        font-size: 1.2em;
        cursor: pointer;
        border-radius: 1em;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
    }

    .modalContainer {
        width: 450px;
    }

}

@media screen and (max-width: 700px) {

    .container {
        flex-direction: column;
    }

    .imageSection {
        width: 100%;
        height: 40vh;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 2vh;
    }

    .image {
        height: 30vh;
    }

    .introSection {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        width: 100%;
        height: 35vh;
    }

    .titlesSection {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .text {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: left;
        padding: 0;
        margin: 2rem 1rem;
    }

    .title {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        font-size: 2rem;
        color: rgb(93, 24, 3);
        font-weight: bold;
        letter-spacing: 0.1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 0.5rem;
    }

    .subtitle {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        font-size: 1rem;
        color: rgb(93, 24, 3);
        font-weight: bold;
        letter-spacing: 0.1rem;
        margin: 0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .aboutContact {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 15vh;
        flex-wrap: wrap;
    }

    .linkSection {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .social {
        display: flex;
        margin: 0 5%;
    }

    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(93, 24, 3);
        border-color: rgb(93, 24, 3);
        color: white;
        font-weight: 600;
        padding: 2%;
        margin: 1%;
        width: 9rem;
        height: 2rem;
        font-size: 1em;
        cursor: pointer;
        border-radius: 1em;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .button:hover {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 60, 0);
        border-color: rgb(255, 60, 0);
        color: white;
        font-weight: 600;
        padding: 2%;
        margin: 1%;
        transform: scale(1.2);
        transition: transform 0.2s ease-in-out;
        font-size: 1.2em;
        cursor: pointer;
        border-radius: 1em;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
    }

    .modalContainer {
        width: 450px;
    }
}