.container {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100vw;
    height: 4rem;
    padding: 1%;
    background-color: white;
    z-index: 1000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40%;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(93, 24, 3);
    text-decoration: none;
    height: 10vh;
}

.logoImg {
    width: 7%;
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    padding: 0 1.5%;
    height: 10vh;
}

.link {
    text-decoration: none;
    cursor: pointer;
    color: rgb(93, 24, 3);
    transition: color 0.3s ease;
    font-size: 1em;
    font-weight: 400;
    width: 12%;
    text-align: center;
}

.smallLink {
    text-decoration: none;
    padding: 0 2%;
    cursor: pointer;
    color: rgb(93, 24, 3);
    transition: color 0.3s ease;
    font-size: 1em;
    font-weight: 400;
    width: 3%;
    text-align: center;
}

.link:hover {
    color: #ed4c07;
}

.smallLink:hover {
    color: #ed4c07;
}

.flag {
    width: 1.2em;
}

.themeIcon {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 5%;
    transition: color 0.3s ease;
}

.themeIcon:hover {
    color: rgb(93, 24, 3);
}


.dark {
    background-color: rgb(30, 29, 29);
    color: white;

    .link {
        color: white;
    }

    .link:hover {
        color: grey;
    }

    .themeIcon:hover {
        color: grey;
    }

    .smallLink {
        color: white;
    }

    .smallLink:hover {
        color: grey;
    }

    .logo {
        color: white;
    }

    .options {
        background-color: rgb(30, 29, 29);
        color: white;
    }
}


@media screen and (max-width: 1500px) {
    .options {
        font-size: 0.8em;
        width: 40%;
    }

    .logo {
        font-size: 1.1em;
        width: 60%;
    }

}

@media screen and (max-width: 1300px) {
    .options {
        width: 50%;
    }

    .logo {
        width: 40%;
    }

}

@media screen and (max-width: 1100px) {
    .options {
        width: 52%;
    }
}

@media screen and (max-width: 880px) {
    .options {
        font-size: 0.7em;
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .options {
        display: none;
    }

    .logo {
        font-size: 1em;
        width: 80%;
    }
}