.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    flex-wrap: wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
}

.calculatorVideo {
    width: 100%;
}

.textSection {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 40vw;
    padding: 1%;
    box-sizing: border-box;
}

.title {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin: 0;
}

.text {
    text-align: left;
    box-sizing: border-box;
    margin: 1%;
}

.link {
    display: flex;
    width: 80%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

/* .container::-webkit-scrollbar {
    width: 0.8em;
} */

/* Fondo y borde del track del scrollbar */
/* .container::-webkit-scrollbar-track {
    background: #cfcfcf;
    border-radius: 1em;
    margin: 0.5em;
} */

/* Color y borde del thumb del scrollbar */
/* .container::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 1em;
} */

/* Color del thumb del scrollbar cuando se pasa el cursor por encima */
/* .container::-webkit-scrollbar-thumb:hover {
    background: #ed4c07;
} */

.light {
    background-color: white;
    color: black;
}

.dark {
    background-color: rgb(30, 29, 29);
    color: white;

    .title {
        color: white
    }

    .link {
        color: white;
        text-decoration: none;
    }
}

@media screen and (max-width: 1200px) {
    .textSection {
        width: 90vw;
    }

    .section {
        width: 80vw;
    }
}

@media screen and (max-width: 768px) {

    .title {
        font-size: 1.5em;
    }

    .text {
        font-size: 0.9em;
        margin: 2%;
    }
}

@media screen and (max-width: 480px) {
    .textSection {
        width: 80vw;
        margin-bottom: 3%;
    }

    .section {
        width: 80vw;
    }
}